body{
  background-image: url("https://freefrontend.com/assets/img/css-background-patterns/css-dot-pattern-grid-background.png");
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.left img{
  width: 50px;
  height:50px;
  position: fixed;
  left: 10px;
  top: 10px

}
.right{
  float: right;
  display: flex;
  flex-direction:row ;
  width: 50%;
  justify-content: space-around;
  height: 50px;
  font-size: 20px;
  font-weight: 200;
  align-items: center;
}
a{
  color: white;
  text-decoration: none;
 outline-style: none;
}
.router{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 300 ;
  color: white;
  height: 80vh;

}